body{
    overflow:hidden;
}
#sky>img{
    width: 100%;
    height: 75vh;
}
#road>img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
}
#city{
    position: absolute;
    top: 35.4vh;

    width: 100%;
    z-index: 999;
}
#car{
    position: absolute;
    left: 40%;

    z-index: 99999;
    top: 65vh;
}
.wheel{
    position: absolute;
    top: 48%;
}
#wheel1{
    left: 5%;
}
#wheel2{
    left: 70%;
}